<!DOCTYPE html>
<html>
<head>
    <title>Input Players</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>
<body>
    <h1>Tennis Data Rebase is a fun project that allows the user to compare their favourite players in various ways.</h1>
    <h1>Here's a sample of how it works</h1>
    <form action="/" method="POST">
        <label for="string">Please enter a player name :</label>
        <input type="text" id="player" name="entry_1" required>
        <button type="submit">Submit</button>
    </form>

    {% if player %}
    <p>The player name you typed is: {{ player }}. Please select the player's exact name from this list</p>
    {% endif %}
</body>
</html>

